<h1 style="text-align: center;color: dodgerblue">Edit Customer</h1>
<form [formGroup]="formEdit" (ngSubmit)="editCustomer()" class="col-md-6 offset-md-3" >
  <div class="form-group row">
    <label class="col">
      Name Customer
      <input type="text" class="form-control" formControlName="name">
    </label>
  </div>

  <!------------------------------->

  <div class="form-group row">
    <label class="col">
      BirthDay
      <input type="Date" class="form-control" formControlName="birthday">
    </label>
  </div>
  <!------------------------------->
  <div class="form-group row">
    <label class="col">
      Card
      <input type="number" class="form-control" formControlName="card">
    </label>
  </div>
  <!------------------------------->

  <div class="form-group row">
    <label class="col">
      Number Phone
      <input type="tel" class="form-control" formControlName="phone">
    </label>
  </div>
  <!------------------------------->

  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="formEdit.get('email').invalid && formEdit.get('email').touched">
    Invalid email!
  </div>
  <!------------------------------->

  <div class="form-group row">
    <label class="col">
      Address
      <input type="text" class="form-control" formControlName="address">
    </label>
  </div>

  <div class="form-group">
    <button class="btn btn-info" type="submit">Submit</button>
    <button class="btn btn-warning" [routerLink]="['/']">List Customer</button>
  </div>


</form>


